<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card>
      <p>Test</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <p>Test</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <p>Test</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <p>Test</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <p>Test</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <p>Test</p>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
