@import "normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~roboto-fontface/css/roboto/roboto-fontface.css";

html {
  min-height: 100vh;
}
body {
  font-family: Roboto, sans-serif;
  height: 100%;
}
